--
-- PostgreSQL database dump
--

\restrict KHtsHKxgPckKxgMcDKuMZOAPJ78k7DaMEBFTpohECoSjskz6ocCd73ESbutI4yJ

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: confai_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO confai_user;

--
-- Name: user_type_enum; Type: TYPE; Schema: public; Owner: confai_user
--

CREATE TYPE public.user_type_enum AS ENUM (
    'admin',
    'user'
);


ALTER TYPE public.user_type_enum OWNER TO confai_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: eventos; Type: TABLE; Schema: public; Owner: confai_user
--

CREATE TABLE public.eventos (
    evento_id integer NOT NULL,
    evento_nome character varying(100) NOT NULL,
    evento_localizacao character varying(200),
    evento_data date NOT NULL,
    evento_criado integer,
    evento_descricao text,
    evento_hora time without time zone
);


ALTER TABLE public.eventos OWNER TO confai_user;

--
-- Name: eventos_evento_id_seq; Type: SEQUENCE; Schema: public; Owner: confai_user
--

CREATE SEQUENCE public.eventos_evento_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.eventos_evento_id_seq OWNER TO confai_user;

--
-- Name: eventos_evento_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: confai_user
--

ALTER SEQUENCE public.eventos_evento_id_seq OWNED BY public.eventos.evento_id;


--
-- Name: recomendacao; Type: TABLE; Schema: public; Owner: confai_user
--

CREATE TABLE public.recomendacao (
    reco_id integer NOT NULL,
    user_id integer NOT NULL,
    evento_id integer NOT NULL,
    mensagem text,
    data_recomendacao timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.recomendacao OWNER TO confai_user;

--
-- Name: recomendacao_reco_id_seq; Type: SEQUENCE; Schema: public; Owner: confai_user
--

CREATE SEQUENCE public.recomendacao_reco_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recomendacao_reco_id_seq OWNER TO confai_user;

--
-- Name: recomendacao_reco_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: confai_user
--

ALTER SEQUENCE public.recomendacao_reco_id_seq OWNED BY public.recomendacao.reco_id;


--
-- Name: tipoevento; Type: TABLE; Schema: public; Owner: confai_user
--

CREATE TABLE public.tipoevento (
    tipo_id integer NOT NULL,
    tipo_nome character varying(100) NOT NULL
);


ALTER TABLE public.tipoevento OWNER TO confai_user;

--
-- Name: tipoevento_tipo_id_seq; Type: SEQUENCE; Schema: public; Owner: confai_user
--

CREATE SEQUENCE public.tipoevento_tipo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tipoevento_tipo_id_seq OWNER TO confai_user;

--
-- Name: tipoevento_tipo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: confai_user
--

ALTER SEQUENCE public.tipoevento_tipo_id_seq OWNED BY public.tipoevento.tipo_id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: confai_user
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    user_nome character varying(100) NOT NULL,
    user_email character varying(100) NOT NULL,
    user_password character varying(255) NOT NULL,
    user_type public.user_type_enum DEFAULT 'user'::public.user_type_enum
);


ALTER TABLE public.users OWNER TO confai_user;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: confai_user
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO confai_user;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: confai_user
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: eventos evento_id; Type: DEFAULT; Schema: public; Owner: confai_user
--

ALTER TABLE ONLY public.eventos ALTER COLUMN evento_id SET DEFAULT nextval('public.eventos_evento_id_seq'::regclass);


--
-- Name: recomendacao reco_id; Type: DEFAULT; Schema: public; Owner: confai_user
--

ALTER TABLE ONLY public.recomendacao ALTER COLUMN reco_id SET DEFAULT nextval('public.recomendacao_reco_id_seq'::regclass);


--
-- Name: tipoevento tipo_id; Type: DEFAULT; Schema: public; Owner: confai_user
--

ALTER TABLE ONLY public.tipoevento ALTER COLUMN tipo_id SET DEFAULT nextval('public.tipoevento_tipo_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: confai_user
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Data for Name: eventos; Type: TABLE DATA; Schema: public; Owner: confai_user
--

COPY public.eventos (evento_id, evento_nome, evento_localizacao, evento_data, evento_criado, evento_descricao, evento_hora) FROM stdin;
\.


--
-- Data for Name: recomendacao; Type: TABLE DATA; Schema: public; Owner: confai_user
--

COPY public.recomendacao (reco_id, user_id, evento_id, mensagem, data_recomendacao) FROM stdin;
\.


--
-- Data for Name: tipoevento; Type: TABLE DATA; Schema: public; Owner: confai_user
--

COPY public.tipoevento (tipo_id, tipo_nome) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: confai_user
--

COPY public.users (user_id, user_nome, user_email, user_password, user_type) FROM stdin;
\.


--
-- Name: eventos_evento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: confai_user
--

SELECT pg_catalog.setval('public.eventos_evento_id_seq', 1, false);


--
-- Name: recomendacao_reco_id_seq; Type: SEQUENCE SET; Schema: public; Owner: confai_user
--

SELECT pg_catalog.setval('public.recomendacao_reco_id_seq', 1, false);


--
-- Name: tipoevento_tipo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: confai_user
--

SELECT pg_catalog.setval('public.tipoevento_tipo_id_seq', 1, false);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: confai_user
--

SELECT pg_catalog.setval('public.users_user_id_seq', 1, false);


--
-- Name: eventos eventos_pkey; Type: CONSTRAINT; Schema: public; Owner: confai_user
--

ALTER TABLE ONLY public.eventos
    ADD CONSTRAINT eventos_pkey PRIMARY KEY (evento_id);


--
-- Name: recomendacao recomendacao_pkey; Type: CONSTRAINT; Schema: public; Owner: confai_user
--

ALTER TABLE ONLY public.recomendacao
    ADD CONSTRAINT recomendacao_pkey PRIMARY KEY (reco_id);


--
-- Name: tipoevento tipoevento_pkey; Type: CONSTRAINT; Schema: public; Owner: confai_user
--

ALTER TABLE ONLY public.tipoevento
    ADD CONSTRAINT tipoevento_pkey PRIMARY KEY (tipo_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: confai_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: users users_user_email_key; Type: CONSTRAINT; Schema: public; Owner: confai_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_user_email_key UNIQUE (user_email);


--
-- Name: eventos eventos_evento_criado_fkey; Type: FK CONSTRAINT; Schema: public; Owner: confai_user
--

ALTER TABLE ONLY public.eventos
    ADD CONSTRAINT eventos_evento_criado_fkey FOREIGN KEY (evento_criado) REFERENCES public.users(user_id);


--
-- Name: recomendacao recomendacao_evento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: confai_user
--

ALTER TABLE ONLY public.recomendacao
    ADD CONSTRAINT recomendacao_evento_id_fkey FOREIGN KEY (evento_id) REFERENCES public.eventos(evento_id);


--
-- Name: recomendacao recomendacao_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: confai_user
--

ALTER TABLE ONLY public.recomendacao
    ADD CONSTRAINT recomendacao_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- PostgreSQL database dump complete
--

\unrestrict KHtsHKxgPckKxgMcDKuMZOAPJ78k7DaMEBFTpohECoSjskz6ocCd73ESbutI4yJ

